.px-3 h1{
    font-size: 90px;
}

.px-3 p{
    font-size: 50px;
}

.input input{
    font-size: 30px;
}

.input h1{
    font-size: 30px;
}

.input button{
    font-size: 30px;
}


#nav{
    font-size: 30px;
}